* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Nunito", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	overflow-x: hidden;
}
h1 {
	color: #fff;
}
.container {
	display: flex;
	flex-direction: column;

	gap: 28px;
	width: 100%;
	background: rgba(255, 255, 255, 0.3);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.3px);
	border-radius: 0 0 20px 20px;
	-webkit-backdrop-filter: blur(4.3px);
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
.header div {
	position: relative;
}
input[type="text"] {
	width: 362px;
	height: 46px;
	padding: 6px 7px;
	border: none;
	background: rgba(255, 255, 255, 0.21);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.3px);
	border-radius: 8px;
	-webkit-backdrop-filter: blur(4.3px);
	border-bottom: 2px solid#919191;
}
input[type="text"]:focus-visible {
	outline: none;
	border-bottom: 2px solid #0688e7;
}
input::placeholder {
	color: #000000;
}
.loupe {
	cursor: pointer;
}
.loupe::before {
	position: absolute;
	content: "🔍";
	top: calc(50% / 3);
	right: 0;
	padding: 3px;
}
.main-weather {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.temperature-now {
	font-size: 96px;
}
.city {
	font-size: 32px;
}
.weather-img {
	display: flex;
	align-items: end;
	width: 100%;
	order: -1;
}
.day-con {
	font-size: 28px;
	margin-top: 12px;
	padding-top: 12px;
	text-align: center;
	border-top: 1px solid #919191;
}

.info {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.weather-details {
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 272px;
	padding: 34px;
	font-size: 18px;
}
.weather-details div {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.weather-details p {
	font-size: 24px;
}
.humidity,
.pressure,
.visibility,
.wind-speed {
	position: relative;
}
.humidity::before,
.pressure::before,
.visibility::before,
.wind-speed::before {
	position: absolute;
}
.humidity::before {
	content: url("data:image/svg+xml,%3Csvg width='33' height='46' viewBox='0 0 33 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.2924 24.9163C19.1787 24.8387 19.0855 24.7355 19.0206 24.6152C18.9556 24.495 18.9209 24.3612 18.9192 24.225V7.20125C18.9192 5.51049 18.237 3.88899 17.0228 2.69344C15.8086 1.4979 14.1617 0.826248 12.4446 0.826248C10.7274 0.826248 9.08054 1.4979 7.86631 2.69344C6.65209 3.88899 5.96994 5.51049 5.96994 7.20125V24.225C5.97194 24.3529 5.94306 24.4794 5.88567 24.5942C5.82829 24.7089 5.74404 24.8086 5.63986 24.885C3.65394 26.2974 2.16983 28.2894 1.39788 30.5787C0.625931 32.868 0.605286 35.3384 1.33887 37.6398C2.07246 39.9413 3.52307 41.9571 5.48513 43.4015C7.44718 44.8459 9.82116 45.6457 12.2706 45.6875H12.4446C13.9757 45.6873 15.4918 45.3902 16.9063 44.8132C18.3208 44.2361 19.606 43.3903 20.6886 42.3242C21.7712 41.2581 22.6298 39.9924 23.2156 38.5996C23.8014 37.2067 24.1028 35.7138 24.1027 34.2062C24.0991 32.3944 23.6617 30.609 22.8259 28.9948C21.9901 27.3807 20.7795 25.9833 19.2924 24.9163ZM19.0233 40.7825C18.103 41.6768 17.0048 42.374 15.7977 42.8303C14.5906 43.2866 13.3007 43.4921 12.009 43.434C10.7174 43.3758 9.45189 43.0552 8.29213 42.4923C7.13237 41.9294 6.10341 41.1364 5.2699 40.1631C4.43639 39.1898 3.81636 38.0573 3.44877 36.8367C3.08118 35.6161 2.97399 34.3338 3.13393 33.0705C3.29386 31.8072 3.71747 30.5901 4.37813 29.4957C5.03878 28.4013 5.92221 27.4533 6.97287 26.7113C7.3705 26.4258 7.69378 26.0517 7.91622 25.6196C8.13866 25.1874 8.25392 24.7095 8.25256 24.225V7.20125C8.25256 6.65955 8.36092 6.12315 8.57146 5.62268C8.782 5.12221 9.0906 4.66747 9.47962 4.28443C9.86865 3.90139 10.3305 3.59755 10.8388 3.39024C11.3471 3.18294 11.8918 3.07625 12.442 3.07625C12.9922 3.07625 13.537 3.18294 14.0452 3.39024C14.5535 3.59755 15.0154 3.90139 15.4044 4.28443C15.7934 4.66747 16.102 5.12221 16.3126 5.62268C16.5231 6.12315 16.6315 6.65955 16.6315 7.20125V24.225C16.635 24.7159 16.7559 25.199 16.9844 25.6353C17.2129 26.0716 17.5426 26.4488 17.9467 26.7363C19.1425 27.5946 20.116 28.7184 20.7881 30.0165C21.4602 31.3146 21.812 32.7504 21.815 34.2075C21.8193 35.4315 21.5745 36.6439 21.095 37.7732C20.6156 38.9025 19.9111 39.9258 19.0233 40.7825Z' fill='black'/%3E%3Cpath d='M13.9667 28.4137V15.3275H10.9199V28.4137C9.47961 28.7789 8.22413 29.6489 7.38884 30.8604C6.55355 32.072 6.19583 33.542 6.38275 34.9947C6.56967 36.4474 7.2884 37.7831 8.40416 38.7513C9.51992 39.7195 10.9561 40.2537 12.4433 40.2537C13.9305 40.2537 15.3667 39.7195 16.4824 38.7513C17.5982 37.7831 18.3169 36.4474 18.5038 34.9947C18.6908 33.542 18.333 32.072 17.4977 30.8604C16.6625 29.6489 15.407 28.7789 13.9667 28.4137Z' fill='%2336E2E2'/%3E%3Cpath d='M28.6755 3.17375H22.6237V5.17375H28.6755V3.17375Z' fill='black'/%3E%3Cpath d='M32.3825 8.37H22.6237V10.37H32.3825V8.37Z' fill='black'/%3E%3Cpath d='M28.6755 13.5663H22.6237V15.5663H28.6755V13.5663Z' fill='black'/%3E%3Cpath d='M32.3825 18.7612H22.6237V20.7612H32.3825V18.7612Z' fill='black'/%3E%3C/svg%3E%0A");
	left: -43px;
	top: 4px;
}
.pressure::before {
	content: url("data:image/svg+xml,%3Csvg fill='%23000000' height='46px' width='46px' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 487.913 487.913' xml:space='preserve'%3E%3Cg transform='translate(0 -540.36)'%3E%3Cg%3E%3Cg%3E%3Cpath d='M292.256,606.573L292.256,606.573c6.4-19.3,0.5-41.1-15.8-54.2c-18.1-16-46-16-64.9-0.1c-16.3,13.1-22.3,35-15.9,54.3 c-95.2,21.8-166.5,106.9-166.5,208.1c0,117.8,96.3,213.6,214.8,213.6s214.8-95.8,214.8-213.6 C458.756,713.473,387.456,628.473,292.256,606.573z M224.156,567.872L224.156,567.872c0.1-0.1,0.2-0.1,0.2-0.2 c11.5-9.7,28.3-9.8,39-0.2c0.1,0.1,0.3,0.2,0.4,0.4c10.5,8.4,13.8,23,8.4,35.1c-9.2-1.2-18.7-1.8-28.2-1.8 c-9.6,0-19,0.6-28.2,1.8C210.256,590.872,213.556,576.272,224.156,567.872z M243.956,1008.373c-107.4,0-194.8-86.8-194.8-193.6 c0-106.7,87.4-193.6,194.8-193.6s194.8,86.8,194.8,193.6C438.756,921.473,351.356,1008.373,243.956,1008.373z'/%3E%3Cpath d='M395.056,788.372c-5.8-35.5-24.3-67.6-51.9-90.4c-57.5-47.3-140.8-47.3-198.3,0c-27.6,22.8-46.1,54.9-51.9,90.4 c-5.7,35,1,71.3,19,102.3c1.7,3.1,5,5,8.6,5h246.9c3.5,0,6.8-1.9,8.6-5C394.056,859.672,400.856,823.372,395.056,788.372z M361.456,875.672h-235.1c-29.2-55.5-16.6-122.9,31.1-162.2c50.1-41.3,122.8-41.3,172.9,0 C378.056,752.772,390.656,820.172,361.456,875.672z'/%3E%3Cpath fill='%2336E2E2' d='M295.256,784.172c-2.2,0-4.4,0.7-6.2,2.1l-35.2,27.7v-70.2c0-5.5-4.5-10-10-10s-10,4.5-10,10v70.2l-35.2-27.7 c-4.3-3.4-10.6-2.6-14,1.7c-3.4,4.3-2.6,10.6,1.7,14l51.4,40.4c3.7,2.9,8.8,2.9,12.4,0l51.4-40.4c4.3-3.4,5.1-9.7,1.6-14 C301.156,785.472,298.256,784.172,295.256,784.172z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	top: 4px;
	left: -60px;
}
.visibility::before {
	content: url("data:image/svg+xml,%3Csvg width='51' height='40' viewBox='0 0 51 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9535 32.6864H23.5763L24.4021 31.8955C24.6189 31.6869 24.9081 31.5703 25.2089 31.5703C25.5098 31.5703 25.799 31.6869 26.0158 31.8955L26.8416 32.6864H30.4644C30.4644 32.1161 30.8325 31.5457 31.5671 31.5457H35.8803C36.9044 29.8377 37.5019 27.9081 37.6222 25.9203C37.7425 23.9324 37.3821 21.9449 36.5714 20.1258C35.7608 18.3068 34.5238 16.7099 32.9651 15.4703C31.4065 14.2307 29.5721 13.3849 27.6173 13.0044C22.5557 11.9794 17.2402 14.3596 14.5741 18.7626C13.4216 20.6928 12.8066 22.8961 12.7927 25.1441C12.7788 27.3921 13.3665 29.6029 14.495 31.5472H18.8523C19.5824 31.5457 19.9535 32.1161 19.9535 32.6864Z' fill='%23F8B62D'/%3E%3Cpath d='M14.574 18.7626C17.2417 14.3596 22.5557 11.9794 27.6172 13.0045C30.4321 13.5863 32.9626 15.1149 34.7874 17.3357C36.6122 19.5565 37.6211 22.3354 37.646 25.2097C37.6567 23.7405 39.938 23.742 39.9274 25.2097C39.9013 22.1861 38.9563 19.242 37.2178 16.7682C35.4793 14.2943 33.0295 12.4077 30.1936 11.3588C24.4492 9.25695 17.7299 11.1125 13.8714 15.8348C10.2684 20.2455 9.5003 26.4431 11.9261 31.5457H14.4934C13.3655 29.6015 12.7781 27.3909 12.7923 25.1432C12.8065 22.8955 13.4216 20.6925 14.574 18.7626Z' fill='%23231815'/%3E%3Cpath d='M37.646 25.2097C37.6567 26.6773 39.938 26.6804 39.9274 25.2097C39.9167 23.7389 37.6567 23.7359 37.646 25.2097Z' fill='%23231815'/%3E%3Cpath d='M37.6461 25.2097C37.6247 27.44 37.0162 29.6253 35.8818 31.5457H38.4415C39.3998 29.5697 39.9078 27.4057 39.9289 25.2097C39.9381 26.6804 37.6567 26.6773 37.6461 25.2097Z' fill='%23231815'/%3E%3Cpath d='M26.3503 6.22124V1.10189C26.3503 -0.365776 24.069 -0.368818 24.069 1.10189V6.21972C24.069 7.68891 26.3503 7.69043 26.3503 6.22124Z' fill='%23231815'/%3E%3Cpath d='M16.6926 8.18928L14.133 3.75586C13.3984 2.48439 11.4273 3.63267 12.1558 4.90718L14.7155 9.34061C15.4638 10.6121 17.4364 9.4638 16.6926 8.18928ZM15.7071 8.76571L13.1474 4.33228L15.7071 8.76571Z' fill='%23231815'/%3E%3Cpath d='M3.75589 14.1405L8.18931 16.7002C9.46382 17.4363 10.6136 15.4652 9.34063 14.723L4.90721 12.1771C3.63421 11.4364 2.48289 13.406 3.75589 14.1405ZM4.33231 13.155L8.76573 15.7147L4.33231 13.155Z' fill='%23231815'/%3E%3Cpath d='M1.10189 26.3503H6.21972C7.68738 26.3503 7.69043 24.069 6.21972 24.069H1.10189C-0.365776 24.069 -0.368818 26.3503 1.10189 26.3503Z' fill='%23231815'/%3E%3Cpath d='M49.3174 24.069H44.1996C42.7319 24.069 42.7289 26.3503 44.1996 26.3503H49.3174C50.7851 26.3503 50.7881 24.069 49.3174 24.069Z' fill='%23231815'/%3E%3Cpath d='M42.23 16.7002L46.6634 14.1405C47.9349 13.406 46.7866 11.4349 45.5121 12.1634L41.0787 14.7231C39.8103 15.4637 40.9555 17.4363 42.23 16.7002ZM46.087 13.1565L41.6536 15.7162L46.087 13.1565Z' fill='%23231815'/%3E%3Cpath d='M35.6887 9.3406L38.2484 4.90718C38.9845 3.63418 37.0134 2.48286 36.2712 3.75586L33.7267 8.18928C32.9845 9.46227 34.9541 10.6136 35.6887 9.3406ZM37.2628 4.33228L34.7031 8.7657L37.2628 4.33228Z' fill='%23231815'/%3E%3Cpath d='M49.1364 31.5457H31.567C30.8324 31.5457 30.4659 32.1161 30.4644 32.6864C30.4628 33.2567 30.8309 33.8271 31.567 33.8271H49.1364C50.6087 33.8271 50.6087 31.5457 49.1364 31.5457Z' fill='%23231815'/%3E%3Cpath d='M13.2828 33.8271H18.8523C19.5869 33.8271 19.9534 33.2567 19.9534 32.6864C19.9534 32.1161 19.5869 31.5457 18.8523 31.5457H1.28286C-0.184807 31.5457 -0.187848 33.8271 1.28286 33.8271H13.2812H13.2828Z' fill='%23231815'/%3E%3Cpath d='M44.2437 37.6461H32.0248L30.7001 36.3792L26.8416 32.6864L26.0157 31.8955C25.7989 31.6869 25.5098 31.5703 25.2089 31.5703C24.908 31.5703 24.6188 31.6869 24.402 31.8955L23.5762 32.6864L19.7466 36.3503L18.393 37.6445H6.17559C4.70792 37.6445 4.70488 39.9259 6.17559 39.9259H15.5656C16.6515 39.9259 17.7679 40.0004 18.8523 39.9259C19.4394 39.8864 19.8546 39.4286 20.2546 39.0255L20.4066 38.8826L20.4949 38.7928L22.1253 37.2324L22.3945 36.9753L25.2096 34.2849C26.221 35.2735 27.2248 36.2803 28.2514 37.2674C28.7838 37.7814 29.3161 38.2909 29.8682 38.7883C29.9731 38.8841 30.0796 38.9769 30.1845 39.0711C30.3731 39.24 30.5602 39.4088 30.7518 39.573C31.5122 40.2362 33.167 39.9289 34.0978 39.9289H44.2604C45.7114 39.9274 45.7144 37.6461 44.2437 37.6461Z' fill='%23231815'/%3E%3C/svg%3E%0A");

	top: 4px;
	right: -60px;
}
.wind-speed::before {
	content: url("data:image/svg+xml,%3Csvg width='50' height='44' viewBox='0 0 50 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35.5834 30.156C36.599 28.5233 37.1915 26.6787 37.3108 24.7784C37.4301 22.8781 37.0727 20.9781 36.2688 19.2392C35.4649 17.5003 34.2381 15.9738 32.6925 14.7888C31.1468 13.6038 29.3277 12.7952 27.3891 12.4315C22.3696 11.4516 17.0983 13.727 14.4543 17.936C13.3115 19.7812 12.7016 21.8874 12.6878 24.0364C12.674 26.1854 13.2568 28.2988 14.3759 30.1574H35.5834V30.156Z' fill='%23F8B62D'/%3E%3Cpath d='M37.3329 24.0991C37.3118 26.2311 36.7083 28.3202 35.5834 30.156H38.1218C39.0721 28.267 39.5758 26.1983 39.5968 24.0991C39.6059 25.505 37.3435 25.5021 37.3329 24.0991Z' fill='%23231815'/%3E%3Cpath d='M14.4528 17.936C17.0983 13.727 22.3681 11.4516 27.3876 12.4316C30.179 12.9878 32.6885 14.449 34.4981 16.572C36.3077 18.695 37.3082 21.3515 37.333 24.0991C37.3435 22.6946 39.6059 22.6961 39.5953 24.0991C39.5695 21.2087 38.6324 18.3943 36.9083 16.0295C35.1842 13.6646 32.7548 11.8611 29.9425 10.8584C24.2459 8.84915 17.5824 10.6229 13.756 15.1373C10.183 19.3536 9.42129 25.2782 11.8269 30.156H14.3729C13.2543 28.2974 12.6719 26.1842 12.6859 24.0355C12.7 21.8868 13.31 19.7809 14.4528 17.936V17.936Z' fill='%23231815'/%3E%3Cpath d='M37.333 24.0991C37.3435 25.5021 39.6059 25.505 39.5954 24.0991C39.5848 22.6931 37.3435 22.6902 37.333 24.0991Z' fill='%23231815'/%3E%3Cpath d='M23.8688 1.05335V5.94571C23.8688 7.34872 26.1312 7.35163 26.1312 5.94571V1.05335C26.1312 -0.349662 23.8688 -0.35257 23.8688 1.05335Z' fill='%23231815'/%3E%3Cpath d='M12.0698 4.69101L14.6082 8.92912C15.3367 10.1446 17.2913 9.04688 16.5689 7.82851L14.0305 3.59041C13.296 2.3764 11.3398 3.47264 12.0698 4.69101ZM13.0471 4.13998L15.5855 8.37809L13.0471 4.13998Z' fill='%23231815'/%3E%3Cpath d='M4.86632 11.6406C3.60392 10.9369 2.46217 12.8212 3.72458 13.5307L8.12113 15.9776C9.38504 16.6813 10.5253 14.797 9.26287 14.0875L4.86632 11.6406ZM4.2947 12.5827L8.69125 15.0297L4.2947 12.5827Z' fill='%23231815'/%3E%3Cpath d='M1.09273 25.1895H6.16799C7.62345 25.1895 7.62647 23.0086 6.16799 23.0086H1.09273C-0.362734 23.0086 -0.36575 25.1895 1.09273 25.1895Z' fill='%23231815'/%3E%3Cpath d='M48.9073 23.0086H43.832C42.3766 23.0086 42.3736 25.1895 43.832 25.1895H48.9073C50.3628 25.1895 50.3658 23.0086 48.9073 23.0086Z' fill='%23231815'/%3E%3Cpath d='M45.1336 11.6406L40.7371 14.0875C39.4762 14.7898 40.6149 16.674 41.8788 15.9776L46.2753 13.5307C47.5362 12.8168 46.3975 10.9311 45.1336 11.6406ZM41.3087 15.0282L45.7052 12.5813L41.3087 15.0282Z' fill='%23231815'/%3E%3Cpath d='M35.977 3.59041L33.4462 7.82851C32.7162 9.04688 34.6709 10.146 35.4069 8.92911L37.9453 4.69101C38.6602 3.47409 36.7055 2.37495 35.977 3.59041ZM34.416 8.37809L36.9544 4.13998L34.416 8.37809Z' fill='%23231815'/%3E%3Cpath d='M48.7278 30.156H38.1218C37.9358 30.5282 37.7347 30.8917 37.5185 31.2464H43.5062V32.3369H48.7278C50.1878 32.3369 50.1878 30.156 48.7278 30.156Z' fill='%23231815'/%3E%3Cpath d='M1.27223 31.2464H12.4333C12.2141 30.8897 12.013 30.5263 11.83 30.156H1.27223C-0.183229 30.156 -0.186246 32.3369 1.27223 32.3369H6.49379V31.2464H1.27223Z' fill='%23231815'/%3E%3Cpath d='M35.5834 30.156H14.3744C14.6035 30.5333 14.8553 30.8974 15.1285 31.2464H34.8262C35.0988 30.8963 35.3515 30.5323 35.5834 30.156V30.156Z' fill='%23231815'/%3E%3Cpath d='M15.1345 31.2464C14.8613 30.8974 14.6095 30.5333 14.3804 30.156H11.8269C12.0089 30.5263 12.21 30.8897 12.4302 31.2464H15.1345Z' fill='%23231815'/%3E%3Cpath d='M34.8308 31.2464H37.5185C37.7367 30.8917 37.9378 30.5282 38.1218 30.156H35.5834C35.353 30.5322 35.1018 30.8962 34.8308 31.2464Z' fill='%23231815'/%3E%3Cpath d='M12.4997 31.3642C12.4755 31.3249 12.4529 31.2857 12.4288 31.2464H6.4938V32.3368H13.1723C12.934 32.0242 12.7108 31.7044 12.4997 31.3642Z' fill='%23231815'/%3E%3Cpath d='M16.1149 32.3368H33.8791C34.2184 31.9918 34.5362 31.6277 34.8308 31.2464H15.1345C15.227 31.3637 15.322 31.479 15.4196 31.5924C15.6408 31.8522 15.8726 32.1003 16.1149 32.3368Z' fill='%23231815'/%3E%3Cpath d='M37.5184 31.2464C37.2882 31.6205 37.0413 31.984 36.7779 32.3368H43.5062V31.2464H37.5184Z' fill='%23231815'/%3E%3Cpath d='M33.879 32.3368H36.7643C37.0278 31.984 37.2746 31.6205 37.5049 31.2464H34.8307C34.5361 31.6277 34.2183 31.9918 33.879 32.3368V32.3368Z' fill='%23231815'/%3E%3Cpath d='M15.4181 31.5924C15.3175 31.479 15.2225 31.3637 15.133 31.2464H12.4287C12.4529 31.2857 12.4755 31.3249 12.4996 31.3642C12.7108 31.7 12.9355 32.0242 13.1723 32.3368H16.1149C15.8736 32.0994 15.6413 31.8512 15.4181 31.5924Z' fill='%23231815'/%3E%3Cpath d='M43.8757 37.0838H43.5062V38.1742H43.8757C45.3312 38.1742 45.3342 35.9934 43.8757 35.9934H43.5062V37.0838H43.8757Z' fill='%23231815'/%3E%3Cpath d='M6.12425 37.0838H6.49377V35.9934H6.12425C4.66879 35.9934 4.66577 38.1742 6.12425 38.1742H6.49377V37.0838H6.12425Z' fill='%23231815'/%3E%3Cpath d='M17.8946 37.8485L18.2415 38.1684H18.694L17.8946 37.8485Z' fill='%23231815'/%3E%3Cpath d='M32.8293 35.9599C32.1349 36.3956 31.402 36.7717 30.6393 37.0838H43.5062V35.9934H34.5638C33.9907 35.9876 33.41 35.9672 32.8293 35.9599Z' fill='%23231815'/%3E%3Cpath d='M31.3045 38.1684H31.7569L32.1038 37.8485L31.3045 38.1684Z' fill='%23231815'/%3E%3Cpath d='M31.3045 37.0838L25 42.8994L18.6955 37.0838H6.4938V38.1742H18.2416L17.8947 37.8544L18.694 38.1742H18.2416L24.2007 43.6714C24.4156 43.8709 24.7024 43.9823 25.0008 43.9823C25.2992 43.9823 25.5859 43.8709 25.8009 43.6714L31.76 38.1742H31.3075L32.1069 37.8544L31.76 38.1742H43.5063V37.0838H31.3045Z' fill='%23231815'/%3E%3Cpath d='M18.6955 37.0838H19.4663C18.6694 36.7701 17.9023 36.3902 17.1737 35.9483C16.8148 35.9687 16.4769 35.9934 16.2039 35.9934H6.4938V37.0838H18.6955Z' fill='%23231815'/%3E%3Cpath d='M31.3045 35.9876C30.6514 36.0312 30.214 36.5691 29.7706 36.985L29.6756 37.0838H30.6454C31.4079 36.7736 32.1407 36.3994 32.8354 35.9658C32.3195 35.9527 31.8082 35.9541 31.3045 35.9876Z' fill='%23231815'/%3E%3Cpath d='M19.5175 36.3263C18.9851 35.8814 18.0198 35.8902 17.1737 35.9411C17.9022 36.3829 18.6693 36.7629 19.4662 37.0765H20.3923C20.1027 36.8236 19.8111 36.5735 19.5175 36.3263Z' fill='%23231815'/%3E%3Cpath d='M25.7994 42.123C25.5329 41.8778 25.268 41.6306 25.0046 41.3815L24.2007 42.123H25.7994Z' fill='%23231815'/%3E%3Cpath d='M27.7857 38.8154L25 41.3801C25.2644 41.6292 25.5294 41.8763 25.7948 42.1216H24.2006L25.0045 41.3801C23.6591 40.1137 22.3304 38.8154 20.9549 37.5781C20.4498 37.4369 19.9529 37.2699 19.4662 37.078H18.6955L25 42.8994L31.3045 37.0838H30.6393C30.1358 37.2898 29.6201 37.467 29.0949 37.6145L27.7857 38.8154Z' fill='%23231815'/%3E%3Cpath d='M29.0949 37.6072C29.6199 37.4621 30.1356 37.2873 30.6394 37.0838H29.6756L29.0949 37.6072Z' fill='%23231815'/%3E%3Cpath d='M20.3923 37.0838H19.4662C19.9529 37.2757 20.4498 37.4427 20.9549 37.5839C20.7678 37.4124 20.5803 37.2457 20.3923 37.0838Z' fill='%23231815'/%3E%3C/svg%3E%0A");

	top: 4px;
	right: -60px;
}

.weekly {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin-right: 0;
	background: rgba(255, 255, 255, 0.3);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.3px);
	-webkit-backdrop-filter: blur(4.3px);
	border-radius: 20px;
}
.item {
	display: flex;
	flex-wrap: wrap;
	width: 250px;
	height: fit-content;
	font-size: 21px;
	gap: 10px;
	padding: 13px;
}
.weekly-details {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.weekly-details .day,
.weekly-details .temperature {
	width: 50%;
	height: 50%;
}
.weekly .item .weather-img {
	height: 100%;
}

.item:last-child {
	border-right: none;
}
.day-bgc {
	background-image: url("./src/img/day.jpg");
}
.night-bgc {
	background-image: url("./src/img/night.jpg");
}
.sunset-bgc {
	background-image: url("./src/img/sunset.jpg");
}
.sunrise-bgc {
	background-image: url("./src/img/sunrise.jpg");
}
@media (min-width: 700px) {
	.container {
		padding: 100px;
		width: 1512px;
	}
	.header {
		flex-direction: row;
		margin-bottom: 0;
	}
	.weather-details {
		width: 497px;
	}
	.main-weather .weather-img {
		width: 50%;
	}
	.weekly {
		flex-direction: row;
		width: 697px;
		height: 272px;
	}
	.item {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		height: 150px;
		font-size: 16px;
		gap: 10px;
		padding: 13px;
		border-right: 1px solid #919191;
	}
	.weekly .item .weather-img {
		order: -1;
		height: 60px;
	}
	.weekly-details .temperature,
	.weekly-details .day {
		width: 100%;
		text-align: center;
	}
	.weekly-details {
		width: 100%;
	}
}
@media (min-width: 1300px) {
	body {
		background: none;
		box-shadow: none;
		backdrop-filter: none;
		-webkit-backdrop-filter: none;
	}

	.main-weather {
		flex-direction: row;
		width: 100%;
		height: 300px;
		padding: 65px;
		text-align: inherit;
	}
	.main-weather .weather-img {
		width: 40%;
		order: 0;
	}
	.info {
		flex-direction: row;
	}
	.weather-details {
		justify-content: space-around;
		width: 497px;
		height: 272px;
		padding: 34px;
		margin-right: 20px;
		font-size: 18px;
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(4.3px);
		-webkit-backdrop-filter: blur(4.3px);
		border-radius: 20px;
	}
	.day-con {
		margin-top: 0;
		padding-top: 0;
		text-align: right;
		border-top: none;
	}
	.visibility::before {
		left: -60px;
	}
	.wind-speed::before {
		left: -60px;
	}
}
